In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
df= pd.read_csv("Boxify Dataset - Data Analyst Bootcamp.csv")

In [5]:
df

,Order,File_Type,SKU_number,SoldFlag,SoldCount,MarketingType,ReleaseNumber,New_Release_Flag,StrengthFactor,PriceReg,ReleaseYear,ItemCount,LowUserPrice,LowNetPrice
0,2,Historical,1737127,0.0,0.0,D,15,1,6.827430e+05,44.99,2015,8,28.97,31.84
1,3,Historical,3255963,0.0,0.0,D,7,1,1.016014e+06,24.81,2005,39,0.00,15.54
2,4,Historical,612701,0.0,0.0,D,0,0,3.404640e+05,46.00,2013,34,30.19,27.97
3,6,Historical,115883,1.0,1.0,D,4,1,3.340110e+05,100.00,2006,20,133.93,83.15
4,7,Historical,863939,1.0,1.0,D,2,1,1.287938e+06,121.95,2010,28,4.00,23.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198912,208023,Active,109683,NaN,NaN,D,7,1,2.101869e+05,72.87,2006,54,8.46,60.59
198913,208024,Active,416462,NaN,NaN,D,8,1,4.555041e+05,247.00,2009,65,8.40,74.85
198914,208025,Active,658242,NaN,NaN,S,2,1,1.692746e+05,50.00,2012,23,23.98,32.62
198915,208026,Active,2538340,NaN,NaN,S,2,1,3.775266e+05,46.95,2001,23,27.42,37.89
198916,208027,Active,416662,NaN,NaN,D,15,1,1.183068e+05,120.00,2010,44,10.97,60.67

#### Now We will clean the data for analysis

In [8]:
## In order to check the duplicates values we will write
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [10]:
## Now we will check for the null values
print(df.isnull().sum())

Order                    0
File_Type                0
SKU_number               0
SoldFlag            122921
SoldCount           122921
MarketingType            0
ReleaseNumber            0
New_Release_Flag         0
StrengthFactor           0
PriceReg                 0
ReleaseYear              0
ItemCount                0
LowUserPrice             0
LowNetPrice              0
dtype: int64

#####  We can see that null values are present in 2 columns. So, we need to handle these Null values

In [13]:
df['SoldFlag'].fillna(0, inplace=True)
df['SoldCount'].fillna(0, inplace=True)

In [15]:
print(df.isnull().sum())

Order               0
File_Type           0
SKU_number          0
SoldFlag            0
SoldCount           0
MarketingType       0
ReleaseNumber       0
New_Release_Flag    0
StrengthFactor      0
PriceReg            0
ReleaseYear         0
ItemCount           0
LowUserPrice        0
LowNetPrice         0
dtype: int64

##### Now, after handling the missing data we do not have any null values present in the dataset

#### We will save the file and perform some operations in it described as below

In [18]:
df.to_excel('Cleaned Boxify Dataset.xlsx', index=False)

In [20]:
from IPython.display import FileLink

In [22]:
FileLink('Cleaned Boxify Dataset.xlsx')

C:\Users\sugan\Cleaned Boxify Dataset.xlsx

In [24]:
da= pd.read_excel('Cleaned Boxify Dataset.xlsx')

In [25]:
da

,Order,File_Type,SKU_number,SoldFlag,SoldCount,MarketingType,ReleaseNumber,New_Release_Flag,StrengthFactor,PriceReg,ReleaseYear,ItemCount,LowUserPrice,LowNetPrice
0,2,Historical,1737127,0,0,D,15,1,6.827430e+05,44.99,2015,8,28.97,31.84
1,3,Historical,3255963,0,0,D,7,1,1.016014e+06,24.81,2005,39,0.00,15.54
2,4,Historical,612701,0,0,D,0,0,3.404640e+05,46.00,2013,34,30.19,27.97
3,6,Historical,115883,1,1,D,4,1,3.340110e+05,100.00,2006,20,133.93,83.15
4,7,Historical,863939,1,1,D,2,1,1.287938e+06,121.95,2010,28,4.00,23.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198912,208023,Active,109683,0,0,D,7,1,2.101869e+05,72.87,2006,54,8.46,60.59
198913,208024,Active,416462,0,0,D,8,1,4.555041e+05,247.00,2009,65,8.40,74.85
198914,208025,Active,658242,0,0,S,2,1,1.692746e+05,50.00,2012,23,23.98,32.62
198915,208026,Active,2538340,0,0,S,2,1,3.775266e+05,46.95,2001,23,27.42,37.89
198916,208027,Active,416662,0,0,D,15,1,1.183068e+05,120.00,2010,44,10.97,60.67

### Exploratory Data Analysis (EDA)

##### 1st point - Analyze sales trends and variations over time.(Aggregate Sales Data by Year)

In [30]:
sales_trends = da.groupby('ReleaseYear')['SoldCount'].sum().reset_index()
sales_trends

    ReleaseYear  SoldCount
0             0          0
1          1900          0
2          1904          0
3          1905          0
4          1914          0
..          ...        ...
80         2014        794
81         2015        122
82         2016          3
83         2017          0
84         2018          0

[85 rows x 2 columns]

In [32]:
# Apply the seasonal trend logic to classify sales trends
def classify_sales_trend(sales):
    if sales < 20:
        return "low sales year"
    elif sales < 200:
        return "Normal Year"
    else:
        return "Peak Year"
sales_trends['Trend'] = sales_trends['SoldCount'].apply(classify_sales_trend)
print(sales_trends)

    ReleaseYear  SoldCount           Trend
0             0          0  low sales year
1          1900          0  low sales year
2          1904          0  low sales year
3          1905          0  low sales year
4          1914          0  low sales year
..          ...        ...             ...
80         2014        794       Peak Year
81         2015        122     Normal Year
82         2016          3  low sales year
83         2017          0  low sales year
84         2018          0  low sales year

[85 rows x 3 columns]

##### 2 Point- Identify top-selling products and categories.

In [35]:
top_products = da.groupby('SKU_number')['SoldCount'].sum().sort_values(ascending=False).head(10)

In [37]:
top_products

SKU_number
665269    73
613864    69
141848    51
254518    40
767846    36
55769     36
416609    35
243550    34
141824    33
747765    30
Name: SoldCount, dtype: int64

In [39]:
top_categories = da.groupby('File_Type')['SoldCount'].sum().sort_values(ascending=False)
top_categories

File_Type
Historical    24494
Active            0
Name: SoldCount, dtype: int64

##### 3 Point- Investigate stock levels and low-stock items while performing EDA

In [42]:
stock_level = da.groupby('SKU_number')['ItemCount'].sum().sort_values(ascending=False)

In [44]:
stock_level

SKU_number
536345     3046
198645     2852
672549     2542
543471     1920
612805     1860
           ...
862455        0
2281256       0
2281296       0
2281309       0
2558237       0
Name: ItemCount, Length: 133360, dtype: int64

In [46]:
## Show only those SKU_number whose item count is less than or equals to 10
thresold= 10
low_stock_items = da[da['ItemCount'] < thresold]

print("Low-stock items:")
print(low_stock_items[['SKU_number', 'ItemCount']])

Low-stock items:
        SKU_number  ItemCount
0          1737127          8
118         873654          5
350         613288          9
797         521116          2
1073        659971          8
...            ...        ...
197792      766251          6
198244     2511839          7
198260     2287680          0
198310     1456205          9
198520     1624605          2

[3379 rows x 2 columns]

In [48]:
low_stock_summary=low_stock_items.groupby('SKU_number')['ItemCount'].min().sort_values().head(100)

In [50]:
low_stock_summary

SKU_number
2032231    0
3530648    0
3748942    0
2287580    0
2287680    0
          ..
2299367    0
2298513    0
2575187    0
3634467    0
2291822    0
Name: ItemCount, Length: 100, dtype: int64

### Inventory Insights and Recommendations

#### Calculate key performance indicators (e.g., inventory turnover, stock-to-sales ratio, reorder points).

#### 1st KPI- Inventory Turnover

In [55]:
## We have to calculate average inventory because it is used in inventory turnover
avg_inventory=da['ItemCount'].mean()
avg_inventory

41.42628332420055

In [57]:
# Example formula: Inventory Turnover = Total SoldCount / Average ItemCount
inventory_turnover = da['SoldCount'].sum() / avg_inventory
print(f"Inventory Turnover: {inventory_turnover:.2f}")

Inventory Turnover: 591.27

#### 2nd KPI- Reorder Points

In [60]:
## we have to calculate total sales because it used in reorder points
total_sales=da['SoldCount'].sum()
total_sales

24494

### 3rd KPI- Stock To Sales Ratio

In [63]:
#Stock-to-sales ratio
stock_to_sales_ratio = avg_inventory/total_sales
print(f"Stock-to-Sales Ratio:, {stock_to_sales_ratio:.4f}")

Stock-to-Sales Ratio:, 0.0017

In [65]:
lead_days = 7
days_in_datasets = 365
## To calculate average_daily_sales we have to divide total_sales by the days_in_datasets
avg_daily_sales=total_sales/days_in_datasets
avg_daily_sales

67.10684931506849

In [67]:
## To calculate Reorder Point we have to multiply avg_daily_sales with lead_days
reorder_point= avg_daily_sales*lead_days
print("Reorder Points=",reorder_point)

Reorder Points= 469.7479452054794

#### Action Recommendations

In [70]:
# Identify Top Products
top_products_recommendation = [
    f"Ensure sufficient stock levels for SKU {sku} to meet demand." 
    for sku in top_products.index
]
top_products_recommendation

['Ensure sufficient stock levels for SKU 665269 to meet demand.',
 'Ensure sufficient stock levels for SKU 613864 to meet demand.',
 'Ensure sufficient stock levels for SKU 141848 to meet demand.',
 'Ensure sufficient stock levels for SKU 254518 to meet demand.',
 'Ensure sufficient stock levels for SKU 767846 to meet demand.',
 'Ensure sufficient stock levels for SKU 55769 to meet demand.',
 'Ensure sufficient stock levels for SKU 416609 to meet demand.',
 'Ensure sufficient stock levels for SKU 243550 to meet demand.',
 'Ensure sufficient stock levels for SKU 141824 to meet demand.',
 'Ensure sufficient stock levels for SKU 747765 to meet demand.']

In [72]:
# Identify Low-stock
low_stock_items_recommendation = [
    f"Reorder SKU {row['SKU_number']} as current stock ({row['ItemCount']}) is below the threshold."
    for _, row in low_stock_items.iterrows()
]
low_stock_items_recommendation[:10]

['Reorder SKU 1737127 as current stock (8) is below the threshold.',
 'Reorder SKU 873654 as current stock (5) is below the threshold.',
 'Reorder SKU 613288 as current stock (9) is below the threshold.',
 'Reorder SKU 521116 as current stock (2) is below the threshold.',
 'Reorder SKU 659971 as current stock (8) is below the threshold.',
 'Reorder SKU 1450154 as current stock (6) is below the threshold.',
 'Reorder SKU 146207 as current stock (6) is below the threshold.',
 'Reorder SKU 147350 as current stock (9) is below the threshold.',
 'Reorder SKU 1594170 as current stock (7) is below the threshold.',
 'Reorder SKU 1632797 as current stock (8) is below the threshold.']